@font-face {
    font-family: 'MapleMono';
    src: url('font/MapleMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MapleMono', monospace;
}